.transaction__history {
  margin: auto;
  color: black;
  width: 335px;
  border-collapse: collapse;
  border: 1px solid grey;
  text-align: center;
  background-color: #d8e0ea;
}

th {
  padding: 5px 0 5px 0;
  border: 1px solid grey;
  background-color: #00bcd4;
  color: white;
  font-weight: 600;
  font-size: 15px;
}
td {
  padding: 5px 0 5px 0;
  border: 1px solid grey;
  font-weight: 300;
  font-size: 13px;
}

tr:nth-child(even) {
  background-color: #f3f6f9;
}
